description: How to use MCPT online judge
theme: just-the-docs

url: https://pinwheeeel.github.io
baseurl: /judge-help

aux_links:
  MCPT Site: https://mcpt.ca/

permalink: /:basename
source: src

color_scheme: mcpt

callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: yellow
  new:
    title: New
    color: green
  note:
    title: Note
    color: blue
  warning:
    title: Warning
    color: red
